.container {
  max-width: 500px;
  height: 100vh;
  margin-top: 50px;
}

.description {
  position: absolute;
  margin-top: 500px;
  color: bisque;
}

.title {
  position: absolute;
  top: 1800px;
  left: 70px;
}
