.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headingContent {
  color: #ff0000;
  font-size: 205px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.slogan {
  display: flex;
  position: relative;
  top: 300px;
  left: 200px;
}

.arrow {
  position: relative;
  top: 45px;
  right: 105px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  top: 20px; /* расположение от верхней границы страницы */
  left: 70%; /* центрирование по горизонтали */
  transform: translateX(-50%); /* центрирование по горизонтали */
  width: 90%; /* ширина навбара */
  max-width: 646px; /* максимальная ширина навбара */

  padding: 10px 20px;
}

.links {
  display: flex;
}
